/*---Omega 365 Color Palette---*/
:root {
  --omega-teal: #52bcba;
  --omega-orange: #f5a553;
  --omega-blue: #3575b3;
  --omega-dark: #061834;
  --omega-light-blue: #a8c1e0;
  --omega-purple: #8e44ad;
  --omega-green: #27ae60;
}
